<form id="pagerForm" method="post" action="/crm/contact/getall">
    <input type="hidden" name="pageNum" value="1" />
    <input type="hidden" name="numPerPage" value="" />
    <input type="hidden" name="orderField" value="${param.orderField}" />
    <input type="hidden" name="orderDirection" value="${param.orderDirection}" />

</form>


<div class="pageHeader">
    <form onsubmit="return navTabSearch(this);" action="demo_page1.html" method="post">
        <div class="searchBar">
            <!--<ul class="searchContent">
                <li>
                    <label>我的客户：</label>
                    <input type="text"/>
                </li>
                <li>
                <select class="combox" name="province">
                    <option value="">所有省市</option>
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                    <option value="天津">天津</option>
                    <option value="重庆">重庆</option>
                    <option value="广东">广东</option>
                </select>
                </li>
            </ul>
            -->
            <table class="searchContent">
                <tr>
                    <td>
                        我的客户：<input type="text" name="keyword" />
                    </td>
                    <td>
                        <select class="combox" name="province">
                            <option value="">所有省市</option>
                            <option value="北京">北京</option>
                            <option value="上海">上海</option>
                            <option value="天津">天津</option>
                            <option value="重庆">重庆</option>
                            <option value="广东">广东</option>
                        </select>
                    </td>
                    <td>
                        建档日期：<input type="text" class="date" readonly="true" />
                    </td>
                </tr>
            </table>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                    <li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="add" href="/crm/contact/showAddpage" target="dialog" rel=""><span>添加联系人</span></a></li>
            <li><a class="delete" href="/crm/contact/delete/{sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
            <li><a class="edit" href="/crm/contact/getone/{sid_user}" target="navTab"><span>修改</span></a></li>
            <li class="line">line</li>
            <li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
        </ul>
    </div>
    <table class="table" width="100%" layoutH="138" id="contactTabId">
        <thead>
        <tr>
            <th width="120">客户编号</th>
            <th>联系人姓名</th>
            <th width="30">性别</th>
            <th width="100">手机</th>
            <th width="150">qq</th>
            <th width="80" align="center">固定电话</th>
            <th width="200">邮箱</th>
            <th width="150">备注</th>
            <th>建档日期</th>
        </tr>
        </thead>
        <tbody>
        {{with .json}}
        {{range.}}
        <tr target="sid_user" rel="{{.Id}}">
            <td>{{.Id}}</td>
            <td>{{.CName}}</td>
            <td>{{.CSex}}</td>
            <td>{{.CMob}}</td>
            <td>{{.CQQ}}</td>
            <td>{{.CTel}}</td>
            <td>{{.CEmail}}</td>
            <td>{{.CRemarks}}</td>
            <td>{{.CCreateDate}}</td>
        </tr>
        {{end}}
        {{end}}
        </tbody>
    </table>
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            <span>条，共{{.totalCount}}条</span>
        </div>

        <div class="pagination" targetType="navTab" totalCount="{{.totalCount}}" numPerPage="20" pageNumShown="10" currentPage="2"></div>

    </div>
</div>
<script>
    function Refser(){
        //location.reload();
        //window.location.href="/crm/contact/getall"
        //opener.location.reload();
        //window.location.reload();
        //$("#contactTabId").loadUrl("/crm/contact/getall",null,null );
        //navTabPageBreak(this);
    }
</script>
